*{
    margin: 0;
    padding: 0;
}

html{
    font-family: Fellix,"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

header{
    background-color: #2add5d;
}

.header{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.credits{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.container{
    background-color: #69197c;
    padding: 10px 10px;
}